@model MvcApplication14.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Please login:</h3>
        @using (Html.BeginForm("Index"))
        {
            @Html.EditorFor(m => m.UserLogin)
            @Html.EditorFor(m => m.UserPassword)
            
            <input type="submit" value="Login" />   <br />
            @Html.ActionLink("Зарегистрироваться", "Register")        
            @Html.ValidationSummary();
        }
    </div>
</body>

</html>
