@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReigsterSuccess</title>
</head>
<body>
    <div>
        <h3>Регистрация успешно завершена! </h3><br />
        @Html.ActionLink("Перейти к странице логина", "Index");
    </div>
</body>
</html>
